/*

  Table Object
  http://jxnblk.github.io/table-object


 */

.mobile-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.mobile-table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 40em){
  .table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

