/*

    Table Object


*/

.table {
  display: table;
  width: 100%;
}
.table-fixed {
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}


@media (min-width: 640px){
  .folding-table {
    display: table;
    width: 100%;
  }
  .folding-table-fixed {
    table-layout: fixed;
  }
  .folding-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
